<app-loading *ngIf="loadingArtist"></app-loading>

<div class="row animated fadeIn" *ngIf="!loadingArtist">
    <div class="col-2">
        <img [src]="artista.images | noimage" class="img-thumbnail img-circle" alt="">
    </div>
    <div class="col">
        <h3>{{ artista.name }}</h3>
        <p><a [href]="artista.external_urls.spotify">Ir a la pagina del artista</a></p>
    </div>
    <div class="col-4 text-right">
        <button routerLink="/search" class="btn btn-outline-danger">Regresar</button>
    </div>
</div>

<div class="row m-5">
    <div class="col">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Cancion</th>
                    <th>Vista previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let topTrack of topTracks">
                    <td><img [src]="topTrack.album.images | noimage" alt="" class="img-thumb"></td>
                    <td>{{ topTrack.album.name }}</td>
                    <td> {{ topTrack.name }}</td>
                    <td>
                        <!-- <audio [src]="topTrack.preview_url" controls style="width: 200px; height: 50px;"></audio> -->
                        <iframe [src]=" topTrack.uri | domseguro:'https://open.spotify.com/embed?uri=' " width="250"
                            height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
