<div class="row row-cols-1 row-cols-md-3 m-5 g-4 animated fadeIn">
    <div *ngFor="let item of items" class="col">
        <div class="card">
            <img [src]="item.images | noimage" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">
                    <span *ngFor="let artista of item.artists"
                        class="badge rounded-pill bg-primary">{{artista.name}}</span>
                </p>
            </div>
        </div>
    </div>

</div>